<?xml version="1.0" encoding="ISO-8859-1"?>

<!DOCTYPE web-app
PUBLIC "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
"http://java.sun.com/j2ee/dtds/web-app_2_3.dtd">

<web-app>
  <!-- We're doing this fake war just to get mvn to collect all the nice jars into
       the target lib directory during 'mvn package'.  After that, we can run 
       actord from the command-line easily.  Any suggestions on how to do 
       that without resorting to fake war packaging is appreciated! 
       steve.yen
       -->
</web-app>

